<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpeningPitch.Properties.Settings.BasesLoadedConnectionString"
            connectionString="Data Source=safdftsa6b.database.windows.net;Initial Catalog=BasesLoaded;User ID=mssateam01;Password=OPeningpitch1;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>